/* canadian-aboriginal */
@font-face {
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/radiocanada/v21/XRX13ISXn0dBMcibU6jlAqr3ejLv5OLZYiYXik6db2P4jxxlsls-0nF-kTPgLuZwTOOSY9ncRg.woff2) format('woff2');
    unicode-range: U+02C7, U+02D8-02D9, U+02DB, U+0307, U+1400-167F, U+18B0-18F5, U+25CC, U+11AB0-11ABF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/radiocanada/v21/XRX13ISXn0dBMcibU6jlAqr3ejLv5OLZYiYXik6db2P4jxxlsls-0nF-kTPALuZwTOOSY9ncRg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/radiocanada/v21/XRX13ISXn0dBMcibU6jlAqr3ejLv5OLZYiYXik6db2P4jxxlsls-0nF-kTPBLuZwTOOSY9ncRg.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/radiocanada/v21/XRX13ISXn0dBMcibU6jlAqr3ejLv5OLZYiYXik6db2P4jxxlsls-0nF-kTPPLuZwTOOSY9k.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* arabic */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3Uyf4LnlY1PK6ycZg.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3U6f4LnlY1PK6ycZg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3Uzf4LnlY1PK6ycZg.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3U1f4LnlY1PK6ycZg.woff2) format('woff2');
    unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3U5f4LnlY1PK6ycZg.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3U3f4LnlY1PK6w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* arabic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nErXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nMrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nFrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nDrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* arabic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nErXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nMrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nFrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* hebrew */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nDrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yesevaone/v22/OpNJno4ck8vc-xYpwWWxliBVWzfAw0blNQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yesevaone/v22/OpNJno4ck8vc-xYpwWWxlilVWzfAw0blNQ.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yesevaone/v22/OpNJno4ck8vc-xYpwWWxliJVWzfAw0blNQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yesevaone/v22/OpNJno4ck8vc-xYpwWWxliNVWzfAw0blNQ.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yesevaone/v22/OpNJno4ck8vc-xYpwWWxli1VWzfAw0Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
    }

body {
	line-height: 1;
    }

ol, ul {
	list-style: none;
    }

blockquote, q {
	quotes: none;
    }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
    }

table {
	border-collapse: collapse;
	border-spacing: 0;
    }

p {
    padding-bottom: 1.2rem;
}

b {
    font-weight: 600;
}

/* STYLES */

body {
    font-family: Rubik;
    color: #dbe6ff;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-size: cover;
    background-color: #06054F;
    }

body::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    background-image: url(../img/bg-body.svg);
    background-size: cover;
    z-index: -30;
    position: fixed;
    top: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    padding: 0 8px;
    }

header nav {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    }

header .logo {
    width: 120px;
    font-family: Radio Canada;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    display: flex;
    align-items: center;
    }

header .logo svg {
    fill: #dbe6ff;
    transform: scale(0.75);
    transition: all .3s;
    }
    header .logo:hover svg {
        fill: white;
        }

header nav > ul {
    display: none;
    }

/*header nav label ul {
    display: flex;
    width: 100vw;
    height: 100%;
    font-size: 2rem;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
    pointer-events: none;
    transition: all .5s;
    }
    .mobile-icon:checked ~ .submenu {
        top: 0;
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        }*/

header nav label ul {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -10px;
    background-color: rgba(6, 5, 79, .9);
    opacity: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
    pointer-events: none;
    transition: all .5s;
    }
    .mobile-icon:checked ~ .submenu {
        top: -10px;
        right: -10px;
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        }

header nav label ul li {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid rgba(33, 42, 62, 0.25);
    transform: translate(0 , 65px);
    transition: all 1s;
    }
    header nav label ul li:first-child {
        transform: translate(0 , 50px);
        }
    header nav label ul li:last-child {
        border-bottom: none;
        transform: translate(0 , 75px);
        }
    .mobile-icon:checked ~ .submenu li {
        transform: translate(0 , 0);
        }

header nav label ul a {
    width: 100%;
    display: inline-block;
    padding: 3rem 0;
    color: #dbe6ff;
    text-decoration: none;
    }
    input.mobile-icon:checked ~ .logo {
        position: fixed;
        }

header nav label ul a:hover {
    color: #fff;
    transition: all .3s;
    }

header nav label ul a.active {
    color: #dbe6ff;
    pointer-events: none;
    font-weight: 600;
    cursor: default;
    }

header nav ul a.active.selected {
    font-weight: 600;
    pointer-events: all;
    cursor: pointer;
    }
    header nav ul a.active.selected:hover {
        font-weight: 600;
        pointer-events: all;
        color: #fff;
        }

header nav label ul .btn {
    width: 100%;
    padding: 0;
    color: #212A3E;
    text-decoration: none;
    background-color: transparent;
    font-size: 2rem;
    }
    header nav label ul .btn:hover {
        color: #a4835f;
        transition: all .3s;
        background-color: transparent;
        font-size: 2rem;
        }

.mobile-menu-icon {
    display: flex;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    backdrop-filter: blur(10px) brightness(1);
    z-index: 999;
    border-radius: .5rem;
    background-color: rgba(4, 117, 192, .5);
    }

.mobile-menu-icon label {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

.mobile-menu-icon span {
	position: relative;
    z-index: 4;
    }
    .mobile-menu-icon span:before, .mobile-menu-icon span:after {
        position: absolute;
        content: '';
        }

.mobile-menu-icon span, .mobile-menu-icon span:before, .mobile-menu-icon span:after {
	width: 28px;
	height: 3px;
	background-color: #dbe6ff;
	display: block;
    margin-right: .65rem;
    }
    .mobile-menu-icon span:before {
        margin-top: -8px;
        }
    .mobile-menu-icon span:after {
        margin-top: 8px;
        }
    .mobile-menu-icon span:hover, .mobile-menu-icon span:hover:before, .mobile-menu-icon span:hover:after {
        background-color: #a4835f;
        }

.mobile-icon {
    opacity: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
    }

.mobile-menu-icon .icon-mobile {
    transform: translate(-5px, 0);
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
    }
input.mobile-icon:checked ~ .icon-mobile {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
    position: fixed;
    }
.mobile-menu-icon .icon-mobile:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
input.mobile-icon:checked ~ .icon-mobile:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }
.mobile-menu-icon .icon-mobile:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
input.mobile-icon:checked ~ .icon-mobile:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }




/* BUTTONS */

.btn {
    background-color: transparent;
    color: #dbe6ff;
    border: 1px solid rgba(219, 230, 255, .75) !important;
    font-family: Rubik;
    font-size: 16px;
    border-radius: 100px;
    flex-flow: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 12px 24px;
    display: flex;
    position: relative;
    cursor: pointer;
    border: none;
    transition: all .3s;
    position: relative;
    }
    .btn:hover {
        background-color: white;
        color: #090979;
        }

.btn svg {
    width: 0;
    display: block;
    overflow: hidden;
    margin: 0 !important;
    margin-left: .25rem !important;
    opacity: 0;
    fill: #090979 !important;
    transition: all .3s;
    }
    .btn:hover svg {
        }

.btn.comming {
    background-color: transparent;
    color: #dbe6ff;
    border: 1px dashed #dbe6ff !important;
    pointer-events: none;
    }
    .btn.comming:hover {
        background-color: transparent;
        color: #dbe6ff;
        border: 1px dotted #dbe6ff;
        }

header .btn {
    padding: 6px 12px;
    font-size: 14px;
    }

/* GENERAL */

h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    font-family: Yeseva One;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    }

h2 {
    font-size: 1.5rem;
    width: fit-content;
    position: relative;
    }

h2::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    margin: auto 0;
    padding: 4px;
    background-color: rgba(219, 230, 255, .5);
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%) rotate3d(1, 1, 1, -1deg);
    left: 50%;
    top: 50%;
    backdrop-filter: blur(100px) brightness(21.5);
    opacity: .85;
    }

.italic {
    font-style: italic;
    }

.bold {
    font-weight: 600;
    }

.sectionWrapper {
    max-width: 768px;
    margin: 0 auto;
    }

/* SECTION HOME */

section#home .sectionWrapper h1 {
    max-width: fit-content;
    text-align: center;
    margin: 10rem 1rem;
    box-sizing: border-box;
    }

section#home > svg ,
    section#home > svg path {
    margin: 0 auto 8rem;
    display: block;
    fill: #dbe6ff;
    }

/* SECTION ABOUT ME */

section#sobre-mi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    }

section#sobre-mi div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 16px;
    }

section#sobre-mi div div {
    padding: 16px 0;
    }

section#sobre-mi div div img {
    display: inline-block;
    width: 80%;
    max-width: fit-content;
    margin: 24px auto;
    border-radius: 400px;
    border: 1px solid rgba(255, 255, 255, .6);
    backdrop-filter: blur(261px);
    background-color: rgba(255, 255, 255, .1);
    }

section#sobre-mi > div > div > div > img{
    display: none;
    }

/* HERO */

section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    }

section#hero h1 {
    padding: 24px 8px 0;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    }

section#hero img {
    width: calc(100% - 32px) !important;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .75);
    border-radius: 16px;
    display: block;
    }

/* INTRO */

section#intro .sectionWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 16px;
    gap: 2rem;
    }

section#intro title {
    display: block;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 20px;
    }

section#intro #intro-details {
    display: flex  ;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 200px;
    justify-content: space-between;
    gap: 1rem;
    }

section#intro #intro-details .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .65rem 0;
    }

section#intro #intro-details img {
    height: 65px;
    width: 65px;
    filter: saturate(0) brightness(10);
    }

section#intro #intro-description {
    gap: 1rem;
    }

section#intro #intro-description ul {
    list-style: circle;
    padding-left: 1rem;
    }

/* HIGHLIGHT SECTION */

section.highlight {
    backdrop-filter: blur(600px);
    background-color: #06054F;
    padding: 4rem 16px;
    }

section.highlight h2 {
    font-weight: 600;
    text-align: center;
    line-height: 2.5rem;
    }
    section.highlight h2::before {
        display: none;
        }
    
section.highlight h2 svg {
    fill: #394867;
    }

section.highlight .highlight-wrapper > div {
    min-width: 280px;
    }

section.highlight .highlight-wrapper title {
    display: block;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 1.25rem;
    }

section.highlight .highlight-wrapper title::before {
    display: inline-block;
    box-sizing: border-box;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: .5rem;
    border-radius: 1rem;
    background-color: #0475C0 !important;
    margin-bottom: 2px;
    }
    section.highlight .highlight-wrapper .discovery title::before {
      background-color: #2349ff;
      }
    section.highlight .highlight-wrapper .ideation title::before {
      background-color: #C27CFA;
      }
    section.highlight .highlight-wrapper .design title::before {
      background-color: #6A6F8E;
      }
    section.highlight .highlight-wrapper .implementation title::before {
      background-color: #00CF26;
      }

section.highlight .highlight-wrapper ul {
    list-style: circle;
    padding-left: 1rem;
    }

section.highlight .highlight-wrapper {
    padding: 2rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: min-content;
    margin: 0 auto;
    }

/* CONTENT */

section.content {
    padding: 5rem 16px;
    border-top: 2px solid rgba(219, 230, 255, .5) !important;
    }
    section.content.discovery {
        border-top: solid 6px #2349ff;
        }
    section.content.ideation {
        border-top: solid 6px #c27cfa;
       }
    section.content.design {
        border-top: solid 6px #6A6F8E;
        }
    section.content.implementation {
        border-top: solid 6px #00CF26;
        }

section.content .tag {
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #090979 !important;
    background-color: rgba(219, 230, 255, .75) !important;
    }
    section.content.discovery .tag {
        background-color: rgba(35, 73, 255, 0.1);
        color: #2349ff;
        }
    section.content.ideation .tag {
        background-color: rgba(194, 124, 250, 0.1);
        color: #c27cfa;
       }
    section.content.design .tag {
        background-color: rgba(106, 111, 142, 0.1);
        color: #6A6F8E;
        }
    section.content.implementation .tag {
        background-color: rgba(0, 207, 38, 0.1);
        color: #00CF26;
        }

section.content h2 {
    font-weight: 600;
    text-align: left;
    line-height: 2.5rem;
    display: flex;
    align-items: flex-start;
    gap: .25rem;
    padding: 3rem 0 1rem;
    }

section.content h2::before {
    display: none;
    }

section.content h2 svg {
    margin-top: 4px;
    fill: #0475C0 !important;
    }
    section.content.discovery h2 svg {
        fill: #2349ff;
        }
    section.content.ideation h2 svg {
        fill: #C27CFA;
        }
    section.content.design h2 svg {
        fill: #6A6F8E;
        }
    section.content.implementation h2 svg {
        fill: #00CF26;
        }
section.content h2 span {
    width: calc(100% - 36px);
    text-align: left;
    padding-left: 4px;
    }

section.content ol {
    list-style: decimal;
    padding-left: 0.5rem;
    font-weight: 600;
    margin-left: 1rem;
    }

section.content ul {
    list-style: circle;
    padding-left: 1.5rem;
    font-weight: 400;
    }

section.content ul li ,
section.content ol li {
    padding-bottom: .5rem;
    }

section.content ol ul {
    padding-bottom: 1rem;
    padding-left: 0;
    }

section.content img ,
section.content video {
    border-radius: 20px;
    margin: 1.5rem 0 3rem;
    width: 100%;
    border: 1px solid #dbe6ff !important;
    padding: 16px;
    box-sizing: border-box;
    backdrop-filter: blur(241px);
    background-color: rgba(255, 255, 255, .1);
    position: relative;
    }
    section.content.discovery img {
        border: 2px solid rgba(35, 73, 255, 0.2);
        }
    section.content.ideation img {
        border: 2px solid rgba(194, 124, 250, 0.2);
        }
    section.content.design img {
        border: 2px solid rgba(106, 111, 142, 0.2);
        }
    section.content.implementation img {
        border: 2px solid rgba(0, 207, 38, 0.2);
        }
        section.content img::after ,
        section.content video::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid #dbe6ff !important;
            }

section.content .imgWrapper {
    display: flex;
    flex-direction: column;
    }

section.content.ideation article .imgWrapper img {
    margin-bottom: 0;
    }

#productBrief .imgWrapper img {
    border: none !important;
    }
    #productBrief .imgWrapper img:first-child {
        }

section.content .notesWrapper {
    padding: 2rem 0;
    }

section.content .note {
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 3rem 2rem 2rem;
    margin: 5rem auto;
    background-color: rgba(255,255,255, .15);
    backdrop-filter: blur(5px);
    border-radius: 1.5rem;
    }
    section.content .note.success {
        box-shadow: inset 0 0 0 5px rgba(234, 245, 233, .5);
        border: 10px solid #EAF5E9;
        }
    section.content .note.warning {
        box-shadow: inset 0 0 0 5px rgba(248, 230, 216, .5);
        border: 10px solid #F8E6D8;
        }

section.content .note title {
    display: block;
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 1rem;
        }

section.content .note .noteImg {
    width: 40px;
    height: 40px;
    background-color: white;
    padding: .75rem;
    display: flex;
    transform: translate(-50% , -60%);
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    box-shadow: 0 5px 10px 0 rgba(0,0,0, .1);
    }

section.content .note .noteImg img {
    border: none !important;
    margin: 0 auto;
    padding: 0;
    filter: hue-rotate(347deg);
    }

section.content .note ul {
    padding-left: 1rem !important;
    }

section.content .note ul li {
    padding-bottom: 0;
    letter-spacing: -0.5px;
    }


/* TRABAJOS */


section#trabajos {
    display: flex    ;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem;
    }

section#trabajos .sectionWrapper {
    width: 100%;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    }

section#trabajos svg {
    fill: #a4835f;
    margin-bottom: 5rem;
    }

section#trabajos h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: #090979;
    }

section#trabajos .sectionWrapper::before {
    content: '';
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 80%;
    background-color: rgb(6 5 79 / 10%);
    position: absolute;
    z-index: -1;
    border-radius: 2rem;
    bottom: -18px;
    left: 0;
    filter: blur(10px);
    }

section#trabajos .sectionWrapper article img ,
section#trabajos .sectionWrapper article video {
    width: 100%;
    transform: translate(0px, 20px);
    z-index: -1;
    transition: all .5s;
    }
    section#trabajos .sectionWrapper article:hover img {
        transform: translate(0px, 2px);
        }

section#trabajos article {
    display: flex;
    flex-direction: column;
    }

section#trabajos article div {
    height: 100%;
    background: linear-gradient(333deg, rgba(2, 0, 36, 0.04667804621848737) 0%, rgba(0, 119, 255, 0.10270045518207283) 35%, rgba(255, 255, 255, 0.04947916666666663) 100%);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    }

section#trabajos span.tag {
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(164, 131, 95, 0.1    );
    color: #e8e8e8;
    padding: .1rem .75rem;
    font-size: .75rem;
    letter-spacing: 1px;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: inline-block;
    box-sizing: border-box;
    }

section#trabajos title {
    font-size: 2rem;
    line-height: 2.25rem;
    display: block;
    font-weight: 600;
    font-family: Yeseva One;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #dbe6ff;
    }
    section#trabajos article:hover title {
        color: white;
        }

section#trabajos p {
    height: 100%;
    text-decoration: none;
    font-weight: 400;
    transition: all .3s;
    color: #dbe6ff;
    }

section#trabajos article > a {
    color: #212A3E;
    font-weight: 400;
    text-decoration: none;
    }
    section#trabajos article > a:hover {
        color: #212A3E;
        }

section#trabajos div > a {
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    }
    section#trabajos a:hover ,
        section#trabajos a:visited {
        color: #dbe6ff;
        }

/* FOOTER */

footer {
    padding: 2rem 1rem;
    color: #dbe6ff;
    font-weight: 300;
    backdrop-filter: blur(670px);
    opacity: .85;
    background-color: rgba(219, 230, 255, .05);
    }

footer .footerWrapper {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }

footer .footerWrapper .logo {
    height: 50px;
    align-self: center;
    margin-bottom: 1rem;
    }

footer .footerWrapper .logo svg {
    fill: white;
    max-width: 100px;
    }

footer title {
    font-size: 1rem;
    display: inline;
    font-weight: 600;
    }

footer section {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    }

footer section.copyright {
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    }

footer section div {
    display: flex;
    flex-direction: column;
    }

footer section a {
    color: white;
    text-decoration: none;
    }
    footer section a:hover {
        text-decoration: underline;
        }

@media all and (min-width:768px) {

    body {
        max-width: initial;
        font-size: 18px;
        }

    /* BUTTONS */

    .btn {
        width: fit-content;
        }

    .btn svg {
        width: 0;
        display: block;
        overflow: hidden;
        margin: 0 !important;
        margin-left: .25rem !important;
        opacity: 0;
        fill: #090979 !important;
        transition: all .3s;
        }
        .btn:hover svg {
            width: 24px;
            width: 24px;
            opacity: 1;
            padding-left: .5rem;
            }

    header {
        padding: 16px;
        }

    header .logo {
        width: 100%;
        font-family: Radio Canada;
        font-size: 32px;
        font-weight: 500;
        line-height: 60px;
        display: flex;
        align-items: center;
        position: static;
        }
    
    header .logo svg {
        fill: #dbe6ff;
        transform: scale(0.75);
        transition: all .3s;
        }
        header .logo:hover svg {
            fill: white;
            transform: scale(0.8);
            }

    .mobile-menu-icon { 
        display: none;
        }

    header nav label ul {
        display: none; 
        }

    header nav > a {
        width: auto;
        display: inline;
        }

    header nav > ul {
        display: flex;
        width: auto;
        font-size: 1.2rem;
        padding-top: 4px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        position: static;
        transform: none;
        background-color: transparent;
        opacity: 1;
        backdrop-filter: none;
        z-index: 5;
        }

    header nav > ul li {
        width: initial;
        padding: initial;
        border-bottom: none;
        text-align: initial;
        transform: none;
        pointer-events: all;
        position: relative;
        }
        header nav > ul li:first-child ,
        header nav > ul li:last-child {
            transform: none;
            }

    header nav > ul a {
        color: #dbe6ff;
        text-decoration: none;
        position: relative;
        }
        header nav > ul a:hover {
            color: white;
            transition: all .3s;
            }
        
        header nav > ul li:not(:last-child) a::after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 0%;
            margin: 0 auto;
            background-color: rgba(219, 230, 250, .1);
            transition: all .3s;
            transform: translate(50%, -2px);
            }
            header nav > ul li:hover a::after {
                color: white;
                width: 100%;
                background-color: rgba(219, 230, 250, .75);
                transform: translate(0, -2px);
                }
    
    header nav > ul a.active {
        color: #06054F;
        pointer-events: none;
        font-weight: 600;
        }
        header nav > ul li a.active::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #06054F;
            display: block;
            transform: translate(0, 0);
            transition: all .3s;
            }

    header nav > ul a.active.selected {
        font-weight: 400;
        pointer-events: all;
        cursor: pointer;
        }
        header nav > ul a.active.selected:hover {
            font-weight: 400;
            pointer-events: all;
            }
    
    header nav > ul li .btn {
        width: auto;
        min-width: auto;
        font-size: 18px;
        background-color: transparent;
        color: #dbe6ff;
        padding: 8px 24px;
        border: 1px solid #dbe6ff;
        }
        header nav > ul li .btn:hover {
            font-size: 18px;
            background-color: white;
            color: #0475C0;
            }

    h1 {
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        margin-bottom: 2rem;
        max-width: 50vw;
        }

    h2 {
        font-size: 2rem;
        }

    main {
        min-height: calc(100vh - 297px);
        }

    section#sobre-mi {
        padding: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        }

    section#sobre-mi .sectionWrapper {
        flex-wrap: nowrap;
        gap: 2rem;
        align-items: center;
        }

    section#sobre-mi .sectionWrapper h1 {
        text-align: center;
        margin: 0 auto 2rem;
        }

    section#sobre-mi div div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 24px 0;
        }

    section#sobre-mi div div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 24px 0;
        }

    section#sobre-mi div div img {
        width: 100%;
        }

    /*section#sobre-mi > div > div > img {
        display: none;
        }

    section#sobre-mi > div > div > div > img {
       display: inline-block;
       height: fit-content;
       border-radius: 48px;
        }*/

    /* HERO */

    section#hero {
        display: flex;
        padding: 3rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        }

    section#hero h1 {
        padding: 24px 0 0;
        }

    section#hero .img-hero-wrapper {
        width: 100vw;
        max-height: 480px;
        overflow: hidden;
        align-self: center;
        }

    /* INTRO */

    section#intro .sectionWrapper {
        flex-wrap: nowrap;
        padding: 4rem 16px;
        }

    section#intro #intro-details {
        flex-direction: column;
        min-width: 25%;
        }

    section#intro #intro-details .tools {
        max-width: 180px;
        }

    /* HIGHLIGHT SECTION */

    section.highlight .highlight-wrapper {
        justify-content: space-between;
        width: initial;
        gap: 1rem;
      }

    section.highlight .highlight-wrapper > div {
        max-width: calc(25% - .5rem);
        min-width: 150px;
      }

      /* CONTENT */

    section.content h2 {
        font-size: 1.75rem;
        text-align: center;
        align-items: center;
        }

    section.content h2 svg {
        margin-top: 0;
        }

    section.content .imgWrapper {
        flex-direction: row;
        gap: 1rem;
        }

    section.content.ideation article .imgWrapper img {
        width: calc(50% - .5rem) !important;
        margin-bottom: 0;
        }

    #productBrief .imgWrapper img {
        transform: translate(20px, -30px);
        }
    #productBrief .imgWrapper img:first-child {
        margin-bottom: 3rem;
        }
    #productBrief .imgWrapper img:last-child {
        transform: translate(-20px, 30px);
        }

    section.content .notesWrapper {
        display: flex;
        padding: 0;
        }

    section.content .note {
        width: 50%;
        font-size: 1rem;
        letter-spacing: -.4px;
        margin: 3rem auto;
        align-self: flex-start;
        }
        section.content .note.success {
            transform: translate(15px, -20px);
            }
        section.content .note.warning {
            transform: translate(-15px, 20px);
            }

    /* TRABAJOS */

    section#trabajos {
        margin-top: 3rem;
        }

    section#trabajos .sectionWrapper::before {
        left: initial;
        transform: scale(1.04);
        bottom: -8px;
        }

    section#trabajos .sectionWrapper {
        flex-direction: row;
        justify-content: space-around;
        }

    section#trabajos svg {
        margin-bottom: 8rem;
        }

    section#trabajos article {
        width: 50%;
        }

    /* FOOTER */

    footer .footerWrapper {
        flex-direction: row;
        justify-content: flex-start;
        gap: 4rem;
        }

    footer section.copyright {
        width: initial;
        height: 2rem;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        }

}
